{% extends "base.html" %}

{% block title %}
Home - Hack Club
{% endblock %}


{% block content %}

<section class="hero">
    <div class="container">
        <h2>Welcome to Hack Club</h2>

        <p>
            Welcome to the Club! We are a group of students part of a larger community of Hack Clubs! We make everything from websites to games, beginner or <strong>advanced</strong>. Learn More below!
        </p>

        <button id="learnButton">Learn More</button>
        <button id="joinButton">Join Us</button>
    </div>
</section>

<section id="join" class="section">
    <div class="container">

        <h2>Interested?</h2>

        <p>
            Come along, meet new people and start building something amazing.
            No previous experience required.
        </p>

        <br>

        <button id="joinButton">Join Us</button>

    </div>
</section>

{% endblock %}