

{% extends "base.html" %}

{% block title %}
Leadership - Hack Club
{% endblock %}


{% block content %}

<section class="leadership">
    <div class="leader-card">
        <img src="/static/assets/jacob.png" alt="Jacob Navaratne" class="leader-avatar">
        <h2>Jacob Navaratne</h2>
        <span class="leader-tag">Founder & Leader</span>
        <p>Building the Hack Club community, creating projetcs, and helping students explore technology and coding.</p>
        <div class="leader-links">
            <a href="https://jacob.navaratne.uk" target="_blank">Website</a>
            <a href="https://github.com/SmartSparkCoding/" target="_blank">GitHub Profile</a>
        </div>
    </div>

    <div class="leader-card">
        <img src="/static/assets/felix.png" alt="Felix Moore" class="leader-avatar">
        <h2>Felix Moore</h2>
        <span class="leader-tag">Co-Founder</span>
        <p>Assisting in the growth and development of Hack Club, and contributing to various projects and initiatives.</p>
        <div class="leader-links">
            <a href="https://github.com/gliding-hk-fm/" target="_blank">GitHub Profile</a>
        </div>
    </div>
</section>

{% endblock %}