

{% extends "base.html" %}

{% block title %}
Leadership - Hack Club
{% endblock %}


{% block content %}

<section class="leadership">
    <div class="leader-card">
        <img src="/static/assets/jacob.png" alt="Jacob Navaratne" class="leader-avatar">
        <h2>Jacob Navaratne</h2>
        <span class="leader-tag">Founder & Leader</span>
        <p>Born in London, UK and aged 14 when founding AS'HC, Jacob has always had an interest and passion in technology and coding!</p>
        <div class="leader-links">
            <a href="https://jacob.navaratne.uk" target="_blank">Website</a>
            <a href="https://github.com/SmartSparkCoding/" target="_blank">GitHub Profile</a>
        </div>
    </div>

    <div class="leader-card">
        <img src="/static/assets/felix.png" alt="Felix Moore" class="leader-avatar">
        <h2>Felix Moore</h2>
        <span class="leader-tag">Co-Founder</span>
        <p>Aged 16, Felix has always assited Jacob since the beginning of AS'HC. He is a passionate developer and educator.</p>
        <div class="leader-links">
            <a href="https://github.com/gliding-hk-fm/" target="_blank">GitHub Profile</a>
        </div>
    </div>
</section>

{% endblock %}