{% extends "base.html" %}

{% block title %}
Showcase - Hack Club
{% endblock %}


{% block content %}

<section class="showcase-header">
    <h1>Our Showcase</h1>
</section>


<section class="projects-section">


    <div class="section-heading">

        <h2>
            Imagine a world where
            <span>you made this:</span>
        </h2>

    </div>

    <div class="carousel-wrapper">


        <div class="fade fade-left"></div>

        <div class="fade fade-right"></div>


        <div 
            class="carousel-track"
            id="projectTrack">
        </div>


    </div>





    <div class="controls">


        <a 
        class="magazine"
        href="/socsGuide">
            Join us →
        </a>



        <button id="pauseButton">
            ⏸
        </button>


    </div>



</section>



<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
<script src="{{ url_for('static', filename='js/showcase.js') }}"></script>


{% endblock %}