{% extends "base.html" %}

{% block title %}
Showcase - Hack Club
{% endblock %}


{% block content %}

<h2>Our Showcase</h2>

<section id="projects" class="section alt">
    <div class="container">

        <h2>What We'll Build</h2>

        <div class="cards">

            <div class="card">
                <h3>Websites</h3>
                <p>Create modern websites using HTML, CSS and JavaScript.</p>
            </div>

            <div class="card">
                <h3>Python</h3>
                <p>Learn programming by building useful applications.</p>
            </div>

            <div class="card">
                <h3>Games</h3>
                <p>Design simple games and interactive projects.</p>
            </div>

        </div>

    </div>
</section>

{% endblock %}