{% extends "base.html" %}

{% block title %}
Socs Guide - Hack Club
{% endblock %}


{% block content %}

<section class="guide-title">
    <h1>Joining Guide</h1>
    <h2>Step 1: Sign Up with SOCS</h2>
    <p>This SOCS Guide explains how to sign up to the <strong>Ashford School Hack Club</strong> on SOCS!</p>
</section>

<section class="socsGuide">
    <div class="guide-card">
        <h2>Step 1.1: Sign Into SOCS</h2>
        <p>To start the process of signing up for the Ashford School Hack Club, you need to sign into SOCS using the School Portal. A link to the School 'SOCS' portal is below.</p>
        <div class="guide-links">
            <a href="https://www.socscms.com/login/3375/" target="_blank">SOCS Portal</a>
        </div>
            <br>
        <p>Once on the link, click Pupil, and sign in with your school email and password.</p>
        <br>
        <p>You are now signed into SOCS! Proceed to the next step!</p>
    </div>
</section>

{% endblock %}